* {
    margin: 0;
    padding: 0;

}

html {
background-color: gray;

}

.box-logon {

    display: grid;
    justify-items: center;
    align-items: center;
    height: 100px;
    width:  150px;
    background-color: chocolate;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: gray;
  }
  

  .box-login {
    height: 250px;
    width: 200px;
    background-color:darkcyan;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  

  .envio-login {
    height: 100;
    width: 80;
    border-radius: 10;
    
  }

  .box-login-interior {
   
  }

  .username-input{
    margin: 5%;

  }

.contra-input {
    margin: 5%;

}

.envio-login {
    margin: 5%;

}
