#userList {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  /*  overflow-y: auto; */
  /*display: block; */
    height: 200px; /* Ajustar */
}

#userList td, #userList th {
    border: 1px solid #ddd;
    padding: 8px;
}

#userList tr:nth-child(even) {
    background-color: #f2f2f2;
}

#userList tr:hover {
    background-color: #ddd;
}

#userList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.scroll-table {
    overflow-y: auto;
    display: inline-block; /* Para que el div se ajuste al ancho de su contenido */
}
