#userList table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-y: auto;
    display: block;
    
}

#userList table td, #userList table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#userList table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#userList table tr:hover {
    background-color: #ddd;
}

#userList table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
