
/* Estilo listas de la seccion usuarioweb */
#userList table {
    font-family: Arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    height: 500px; 
    border-radius: 10px;  /* Añade esto */
    overflow: hidden;  /* Añade esto para asegurarte de que los bordes de las celdas no sobresalgan */
}

#userList table td, #userList table th {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Añade este bloque para redondear los bordes de las celdas de las esquinas */
#userList table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
#userList table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
#userList table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
#userList table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

/* Estilo listas de la seccion Inventario-Monitor */

#monitorList table {
    font-family: Arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    height: 500px; 
    border-radius: 10px;  /* Añade esto */
    overflow: hidden;  /* Añade esto para asegurarte de que los bordes de las celdas no sobresalgan */
}

#monitorList table td, #monitorList table th {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Añade este bloque para redondear los bordes de las celdas de las esquinas */
#monitorList table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
#monitorList table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
#monitorList table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
#monitorList table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}