<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>AltaLogin</display-name>
    <servlet-name>AltaLogin</servlet-name>
    <servlet-class>controlador.AltaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaLogin</servlet-name>
    <url-pattern>/AltaLogin</url-pattern>
  </servlet-mapping>
  <display-name>DaedalusManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConsultaLogin</display-name>
    <servlet-name>ConsultaLogin</servlet-name>
    <servlet-class>controlador.ConsultaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaLogin</servlet-name>
    <url-pattern>/ConsultaLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarLogin</display-name>
    <servlet-name>ModificarLogin</servlet-name>
    <servlet-class>controlador.ModificarLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarLogin</servlet-name>
    <url-pattern>/ModificarLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaUserWeb</display-name>
    <servlet-name>AltaUserWeb</servlet-name>
    <servlet-class>controlador.AltaUserWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaUserWeb</servlet-name>
    <url-pattern>/AltaUserWeb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaUserWeb</display-name>
    <servlet-name>ConsultaUserWeb</servlet-name>
    <servlet-class>controlador.ConsultaUserWeb</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ModificarUserWeb</display-name>
    <servlet-name>ModificarUserWeb</servlet-name>
    <servlet-class>controlador.ModificarUserWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarUserWeb</servlet-name>
    <url-pattern>/ModificarUserWeb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoUserWeb</display-name>
    <servlet-name>ListadoUserWeb</servlet-name>
    <servlet-class>controlador.ListadoUserWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoUserWeb</servlet-name>
    <url-pattern>/ListadoUserWeb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarUserWeb</display-name>
    <servlet-name>ConsultarUserWeb</servlet-name>
    <servlet-class>controlador.ConsultaUserWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarUserWeb</servlet-name>
    <url-pattern>/ConsultarUserWeb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvLogin</display-name>
    <servlet-name>SvLogin</servlet-name>
    <servlet-class>login.SvLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvLogin</servlet-name>
    <url-pattern>/SvLogin</url-pattern>
  </servlet-mapping>
</web-app>